
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('../images/bg-pattern.png');
}
.country-card {
  display: flex;
  flex-wrap: wrap;  
  margin: auto;
  width: 1000px;
}

.country-card__data {
  font-size: 35px;
  margin-right: 60px;
}

.country-card__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
.country-card__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
  
}
.country-card__flag {
  padding-top: 45px;
}


.search-input {
   display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  width: 400px;
  height: 50px;
  padding: 10px 20px;

  border-color: green;
  height: 35px;

}